/* Stile globale per il corpo della pagina */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    /*
    position: fixed;
    
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
    */
}


/*
body {
    display: block;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}
*/
body {
    padding: 0;
    margin: 0;
    padding-bottom: 60px; /* altezza footer */
    min-height: 100vh;
    position: relative;
    flex-direction: column;
}
.login-container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

.input-field {
    margin-bottom: 15px;
}

/* Intestazione */
h1 {
    flex-grow: 1;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0; /*toglie margini di default */
}

/* Stile per gli elenchi */
ul {
    list-style-type: none;
    padding: 0;
}

/* Pulsanti generici */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

/* Pulsanti Accetta e Rifiuta */
.accept-button {
    background-color: #4caf50;
}

.reject-button {
    background-color: #ff0000;
}

/* Stile per le caselle di testo */
input[type="text"],
input[type="number"],
input[type="float"]  {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Stile per il modulo di pagamento */
.payment-options label {
    display: block;
    margin-top: 10px;
}

/* Stile per l'elenco degli ordini */
.order-list li {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stile per l'area di stato delle consegne */
.delivery-status ul {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}
.cart-icon {
    position: absolute;
    top: 40px; /* Regola la distanza dall'alto */
    right: 10px; /* Regola la distanza dalla destra */
}

/* Puoi anche definire altre proprietÃ  CSS per lo stile dell'icona del carrello, come larghezza e altezza */
.cart-icon img {
    width: 30px; /* Larghezza desiderata */
    height: 30px; /* Altezza desiderata */
}

/* Stile per i link */
a {
    color: #007bff;
    text-decoration: none;
}

/* Stile per i link quando passi sopra di essi */
a:hover {
    text-decoration: underline;
}

/*FOOTER */
footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    width: 95%;
    height: 60px; /* altezza footer */
    position: absolute; /* Posizionamento fisso */
    bottom: 0; /* Posizionamento in basso */
    /*flex-shrink: 0;*/

}

/* contenuto footer */
.footer-content {
    margin-bottom: 10px;
}

.footer-content p {
    margin: 5px 0;/* margine solo sopra e sotto di 5, no destra sinistra*/
}

.footer-content a {
    text-decoration: none;
    color: #007bff;
}

.copyright {
    font-size: 14px;
    color: #666;
}

/*PARTE PER LA NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    position: relative;
}
.navbar li {
    list-style-type: none;
}

/* IN TEORIA TUTTO DA ELIMINARE 
PERCHÃ¨ C'Ã¨ STATA LA MODIFICA DELLA NAVBAR
.menu-toggle {
    cursor: pointer;
    order: 2;/* posizione destra
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.menu-items {
    display: none;
    position: absolute;
    top: 50px; /* Regola l'altezza in base al menu a scomparsa */
    right: 0; /* Allinea il menu a destra 
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.menu-items a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.menu-items a:hover {
    background-color: #ddd;
}

/* Stile per il menu a scomparsa quando Ã¨ aperto 
.menu-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #f2f2f2;
    padding: 10px;
}
*/
.welcome-user {
    margin-left: 20px; /* Aggiungi spazio a sinistra */
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* slider container (forse inutilizzato) */
.slider-container {
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width: 300px;
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
}

/* pottoni navigazione (forse inutilizzato) */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.plate-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
            gap: 10px;
        }

        .plate-item {
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
.pagination {
            margin-top: 20px;
        }

        .pagination a {
            display: inline-block;
            padding: 5px 10px;
            text-decoration: none;
            border: 1px solid #ccc;
            margin-right: 5px;
            border-radius: 3px;
            color: #333;
        }

        .pagination a.active {
            background-color: #f0f0f0;
        }

.form-group {
    margin-bottom: 15px;
}

 .form-group input[type="text"] {
    display: inline-block;
    width: 200px; 
    /*background-color: lightblue*/
}
.form-group input[type="number"] {
    display: inline-block;
    width: 200px; 
    /*background-color: lightblue*/
}


.login-form {
    width: 50%; 
    margin: 5% auto; 
    text-align: center; /* centra contenuto della linea */
}

.lista-ristoranti{
    margin:5px;
}

.page-content{
    background-color: yellow;
    padding: 20px;
    width: 100%; /* Imposta la larghezza al 100% */
    box-sizing: border-box; /* Considera il padding nell'impostazione della larghezza */

}

.titolo{
    display: flex;
    align-items: center;
}

.indietro{
    background-color: #333;
    display: flex;
    align-items: center;
    
}
.freccia {
    background-color: #333;
    width: 50px;
    margin: 0;
    padding: 0; /* Imposta la larghezza desiderata dell'immagine */
    height: auto; /* Imposta l'altezza in base alla larghezza mantenendo l'aspetto originale */
    margin-right: 10px; /* Aggiunge spazio tra l'immagine e il testo */
   margin-left: 10px;
}

